.env
.venv
env/
venv/
__pycache__
*.pyc
*.pyo
*.pyd
db.sqlite3
.coverage
htmlcov/
.pytest_cache/
.git
.vscode
.idea
node_modules
natjobs_frontend/node_modules
natjobs_frontend/dist
natjobs_frontend/.angular
backend/staticfiles
backend/media
